body{
    /* background-color: #d5d5d5; */
    background-image: linear-gradient(#80FF72,#F8EF42);
    /* background-image: linear-gradient(#F8EF42,#0FD64F); */

}
.navbar-brand {
    color: #BAEE77;
}
.navbar-brand img{
    border-radius: 100%;
    margin-bottom: 5%;
}
.me-auto {
    margin-left: auto!important;
    margin-right: 0!important; 
    margin-top: 10px;
}
.me-auto a{
    color:#a6ff32;
}
.me-auto button{
    border-radius: 30px;
    background-color: #a6ff32;
    font-weight: bolder;
}
.me-auto button a{
    color: black;
}
.bannerImg img{
    float: right;
}
.banner nth-of-type{
    /* background-color: #d5d5d5; */
    background-image: linear-gradient(#0FD64F,#F8EF42);
}
.banner h1{
    margin-top: -15%;
    color:#a6ff32;
}
.banner button{
    border-radius: 50px;
    background-color:#a6ff32;
    color: #000000;
    text-align: center;
    margin-top: 1%;
    padding: 10px;
}
.banner button:hover{
    transform: scale(1.1);
    background-color: #fff200f5;
}
.bannerImg{
    background-image: url(./banner2.jpg);
    background-position:30% 45% ;
    max-width: fit-content;
    padding-top: 30%;
    background-repeat: no-repeat;
    margin-top:25px;
    margin-bottom: 25px;
}
.banner .nav-link{
    font-size: larger;
    font-weight: bolder;
}
.banner button img{
    background-color: #BAEE77;
    border-radius:20px;
    margin-left:10px;
    padding: 2px;
}
.reviews{
    padding: 1%;
    margin: 1%;
    transition: transform .2s;
    background-color: #abf64af5;
}
.reviews:hover{
    transform: scale(1.1);
    background-color: #fff200f5;
}
.me-auto a:hover{
    color: #abf64af5;
}
.me-auto a:active{
    color: #abf64af5;
}
@media screen and (max-width: 900px)  {
.bannerImg{
        margin-top:0px;
        padding-top: 50%;
}
.col{
   flex:none;
   margin: 10px auto;
}
.reviews:hover{
    transform: none;
}
.banner button{
    margin-bottom: 20px;
}

}
